:root{
  --main-color: rgb(26, 188, 156);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-color{
  background-color: var(--main-color);
}

.line::after{
  content: "";
  position: absolute;
  width: 140px;
  height: 5px;
  background-color: white;
  top:15px;
  left: 50px;
}
.line::before{
  content: "";
  position: absolute;
  width: 140px;
  height: 5px;
  background-color: white;
  top:15px;
  right: 50px;
}
.blackLine::after{
  content: "";
  position: absolute;
  width: 140px;
  height: 5px;
  background-color: black;
  top:15px;
  left: 50px;
}
.blackLine::before{
  content: "";
  position: absolute;
  width: 140px;
  height: 5px;
  background-color: black;
  top:15px;
  right: 50px;
}

.hover:hover{
  color: var(--main-color) !important;
}
.active{
  border: 2px solid var(--main-color) !important;
  background-color: var(--main-color) !important;
  color: white !important;
  width: fit-content;
}
.layer{
 top: 100%;
}
.img-layer{
  cursor: pointer;
  overflow: hidden;
}
.img-layer:hover .layer{
 top: 0;
}
input:focus{
  outline: none;
}
